<h1><%= @restaurant.name %></h1>

<h2><%= @restaurant.address %></h2>
<h2><%= @restaurant.category %></h2>
<h2><%= @restaurant.phone_number %></h2>
<div>
  <ul>
    <% @restaurant.reviews.each do |review|%>
   <li>
    <%= review.rating %>
    <%= review.content %>
   </li>
   <% end %>
  </ul>
</div>

<p><%= link_to "ajouter une review", new_restaurant_review_path(@restaurant) %></p>
<p><%= link_to "retour au menu", restaurants_path %></p>
